:root {
	--main-background-color: #ffffff;
	--first-background-color: #2f303a;
	--second-background-color: #f5f4fa;
	--third-background-color: #2196f3;
	--inscription-bg: rgba(47, 48, 58, 0.8);
	--main-color: black;
	--first-color: #2196f3;
	--second-color: #757575;
	--third-color: rgba(255, 255, 255, 60%);
	--fourth-color: white;
	--border-color: #ececec;
	--second-border-color: #afb1b8;
	--fourth-background-color: rgba(255, 255, 255, 0.1);
	--color-hero: rgba(47, 48, 58, 0.4);
	--icons-color: #afb1b8;
	--portfolio-card: rgba(33, 150, 243, 0.9);
	--for-buttons: #212121;
	--input-border: rgba(33, 33, 33, 0.2);
	--form-button-hover: #188ce8;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	font-family: "Roboto", "Raleway", sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
}

/* -----------UTILITIES----------- */
.list,
.contacts-list,
.buttons-list,
.benefits-list,
.social-list,
.f-social-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.section {
	padding: 94px 0;
}

/* UTILITIES */

/* HEADER */

.header {
	border-bottom: 1px solid var(--border-color);
	padding: 0 25px;
}

.logo {
	font-family: "Raleway";
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
	text-align: left;
}

.logo span {
	color: var(--first-color);
}

.logo:visited {
	color: var(--main-color);
}

.header .logo,
.current,
.p-link,
.c-link,
.mail,
.tel,
.s-link {
	text-decoration: none;
}

.header .logo,
.current,
.p-link,
.c-link,
.s-link {
	color: var(--main-color);

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .mail,
.tel {
	color: var(--second-color);
	font-weight: 500;
	display: flex;
	align-items: center;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .current {
	color: var(--first-color);
	position: relative;
}

.current::after {
	position: absolute;
	content: "";
	bottom: -1px;
	left: 0px;

	width: 100%;
	height: 4px;

	border-radius: 4px;
	background-color: var(--first-color);
}

.contact:hover,
.contact:focus {
	color: var(--first-color);
}

.a-tohover:hover,
.a-tohover:focus {
	color: var(--first-color);
}

.header .list .item {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-align: center;
}

.header .list {
	display: flex;
	gap: 50px;
}

.link {
	display: block;
	padding: 32px 0;
}

.contacts-list {
	display: flex;
	gap: 50px;
	margin-left: auto;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .container {
	display: flex;
	align-items: center;
}

.page-navigation {
	display: flex;
	align-items: center;
	gap: 93px;
}
/* ICONS */
.mail-icon,
.tel-icon {
	margin-right: 10px;
	fill: currentColor;
}

/* HEADER END */

/* BODY */
.main .buttons-list .button {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.625;
	letter-spacing: 0.02em;
	border: none;
	border-radius: 4px;
	text-align: center;
	font-family: inherit;
	padding: 6px 22px;
	color: var(--for-buttons);
	background-color: var(--second-background-color);
	cursor: pointer;

	transition-property: color, background-color, box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main .buttons-list {
	display: flex;
	gap: 8px;
	justify-content: center;
	margin-bottom: 50px;
}

.main .buttons-list .button:hover,
.main .buttons-list .button:focus {
	color: var(--fourth-color);
	background-color: var(--third-background-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main .list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.card {
	padding: 20px 24px;

	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.main .list .title {
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--main-color);
	margin-bottom: 4px;
}

.main .list .text {
	font-size: 16px;
	line-height: 1.875;
	color: var(--second-color);
	margin: 0;
}

.main .top-container {
	background-color: var(--first-background-color);
	text-align: center;
	padding: 200px 0;
	background-size: cover;
	background: linear-gradient(var(--color-hero), var(--color-hero)), url("../images/hero.jpg"), no-repeat left top;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.hero {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 696px;

	font-size: 44px;
	font-weight: 900;
	line-height: 1.36;
	letter-spacing: 0.06em;
	color: var(--fourth-color);
	text-transform: uppercase;
}

.top-container .button {
	padding: 10px 32px;

	color: var(--fourth-color);
	background-color: var(--third-background-color);
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.875;
	letter-spacing: 0.06em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* MODAL */

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;

	width: 528px;
	height: 581px;

	background-color: var(--main-background-color);
	border-radius: 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: var(--inscription-bg);

	opacity: 1;
	visibility: visible;

	transition-property: opacity, visibility;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close.button {
	position: absolute;
	top: 8px;
	right: 8px;

	width: 30px;
	height: 30px;

	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: center;
	align-items: center;

	transition-property: fill, border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close.button:hover,
.close.button:focus {
	fill: var(--first-color);
	border: 1px solid var(--first-color);
	cursor: pointer;
}

/* MODAL END */

.f-child .container {
	padding: 0 15px;
}

.f-child {
	padding-bottom: 0;
}
.f-child .benefit {
	display: flex;
	flex-direction: column;
	width: 270px;
	text-align: left;
}

.benefits-list .item + .item {
	margin-left: 30px;
}
.f-child .benefits-list {
	display: flex;
}

.f-child .benefits-list .title {
	margin-bottom: 10px;
	font-size: inherit;
	font-weight: 700;
	line-height: 1.14;
}

.f-child .benefits-list .text {
	line-height: 1.71;
	color: var(--second-color);
}

.s-child .sec-des {
	text-align: center;
	margin-bottom: 50px;
	padding-top: 0;
}

.s-child .container {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.s-child .item {
	position: relative;
}

.inscription {
	position: absolute;
	left: 0px;
	bottom: 0px;

	width: 100%;
	height: 70px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--inscription-bg);
	font-weight: 700;
	line-height: 1.14;
	color: var(--fourth-color);
	text-transform: uppercase;
}

.sec-des {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.16;
}

.t-child {
	background-color: var(--second-background-color);
}
.t-child .item {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.t-child .sec-des {
	text-align: center;
	margin-bottom: 50px;
}

.t-child .list .name {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.187;
	text-align: center;
	margin-bottom: 10px;
}

.t-child .list .role {
	font-size: 16px;
	line-height: 1.187;
	color: var(--second-color);
	text-align: center;
}

.t-child .person-card {
	padding: 30px 32px;
	background-color: var(--fourth-color);
}
.clients .sec-des {
	text-align: center;
	margin-bottom: 50px;
	padding-top: 0;
}

.project-card {
	display: block;

	transition-property: box-shadow;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover,
.project-card:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-description {
	position: relative;
	overflow: hidden;
}

.floating-text {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(100%);
	padding: 63px 24px;

	width: 100%;
	height: 100%;

	background-color: var(--portfolio-card);
	font-family: inherit;
	font-size: 18px;
	line-height: 1.55;
	text-align: left;
	color: var(--fourth-color);

	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .floating-text,
.project-card:focus .floating-text {
	transform: translateY(0);
}

/* ICONS */
.benefits-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	background-color: var(--second-background-color);
	margin-bottom: 30px;
}

.person-card .social-list {
	display: flex;
	justify-content: space-between;
	padding-top: 16px;
}

.social-link {
	color: var(--icons-color);
	border-radius: 50%;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;

	transition-property: color, background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
	background-color: var(--third-background-color);
	color: var(--fourth-color);
}

.social-link-icon {
	fill: currentColor;
}

.clients .list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.partner-link {
	color: var(--icons-color);
	border-radius: 2px;
	width: 170px;
	height: 92px;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 1px solid var(--second-border-color);

	transition-property: color, outline-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partner-link:hover,
.partner-link:focus {
	color: var(--first-color);
	outline-color: var(--first-color);
}
.partner-icon {
	fill: currentColor;
}
/* ICONS */

/* BODY END */
/* FOOTER */

.footer {
	background-color: var(--first-background-color);
	padding: 60px 0;
}

.footer .logo,
.mail,
.tel,
.coor,
.project-card {
	text-decoration: none;
}

.footer .logo {
	color: var(--fourth-color);
	margin-bottom: 20px;
}
.footer .logo:visited {
	color: var(--fourth-color);
}

.footer .coor {
	color: var(--fourth-color);

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .coor:hover,
.footer .coor:focus {
	color: var(--first-color);
}

.footer .tel,
.mail {
	color: var(--third-color);

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .tel:hover,
.footer .tel:focus {
	color: var(--first-color);
}

.footer .list .item {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.footer .list .item + .item {
	margin-top: 9px;
}

.footer .address {
	font-style: normal;
}

.footer .container {
	display: flex;
	align-items: baseline;
}

.footer .f-child {
	display: flex;
	flex-direction: column;
	margin-right: 70px;
}

.f-sec-des {
	text-align: center;
	color: var(--fourth-color);
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.14;
	font-size: 14px;
}

.f-social-list {
	display: flex;
	gap: 10px;
}

.f-social-link {
	color: var(--fourth-color);
	background-color: var(--fourth-background-color);
	border-radius: 50%;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;

	transition-property: color, background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.f-social-link:hover,
.f-social-link:focus {
	background-color: var(--third-background-color);
	color: var(--fourth-color);
}

/* --------FORMS-------- */

/* FOOTER FORM*/

.footer-form {
	display: flex;
}
.footer .s-child {
	margin-right: auto;
}
.email {
	height: 50px;
	width: 358px;
	padding-left: 16px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	margin-right: 12px;
	background-color: transparent;
	outline: transparent;
	color: var(--main-background-color);
}

.subscribe {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	color: var(--main-background-color);
	background-color: var(--first-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	padding: 10px 28px;
	text-align: center;
	cursor: pointer;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe:hover,
.subscribe:focus {
	background-color: var(--form-button-hover);
}

.subscribe-icon {
	fill: currentColor;
}

/* FOOTER FORM END*/

/* MODAL FORM */

.legend {
	margin-bottom: 12px;

	font-size: 20px;
	font-weight: 700;
	line-height: 1.15;
	text-align: center;
}

.human {
	position: relative;
	display: flex;
	flex-direction: column;

	color: var(--second-color);

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	text-align: left;
}

.human:not(:last-child) {
	margin-bottom: 10px;
}

.person-input {
	margin-top: 4px;
	padding-left: 36px;

	width: 100%;
	height: 40px;

	border: 1px solid var(--input-border);
	border-radius: 4px;
	outline: none;

	transition-property: border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.person-input:required,
.agreement-checkbox:required {
	border-color: var(--first-color);
}

.person-input:hover,
.person-input:focus {
	border: 1px solid var(--first-color);
}

.person-input:hover + .form-icon,
.person-input:focus + .form-icon {
	fill: var(--first-color);
}

.form-icon {
	position: absolute;

	top: 50%;
	left: 12px;

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.human .feedback {
	resize: none;

	height: 120px;
	width: 100%;
	padding: 12px 16px;
	margin-top: 4px;

	border: 1px solid var(--input-border);
	border-radius: 4px;
	outline: none;

	transition-property: border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.human .feedback:hover,
.human .feedback:focus {
	border: 1px solid var(--first-color);
}

.form-agreement {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.agreement-icon-uncheck {
	fill: var(--for-buttons);

	transition: opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + .agreement-icon .agreement-icon-uncheck {
	opacity: 0;
}

.agreement-icon-check {
	opacity: 0;
	fill: var(--first-color);
	transition: opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox:checked + .agreement-icon .agreement-icon-check {
	opacity: 1;
}

.agreement-link {
	color: var(--first-color);

	line-height: 1.71;
	text-align: left;
}

.form-submit {
	display: block;
	padding: 10px 52px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.86;
	letter-spacing: 0.06em;
	text-align: center;

	color: var(--main-background-color);
	background-color: var(--first-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	cursor: pointer;

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit:hover,
.form-submit:focus {
	background-color: var(--form-button-hover);
}
